span{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
.riot-logo{
    width: 100px;
    height: 100px;
    cursor: none;
}
.riot{
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd;
}
/*michael part*/
.aa[href^="https"]::before{
    content: "🔗 ";
}
  
.ab[href^="mailto"]::before{
    content: "📧 ";
}
  
.ac[href^="tel"]::before {
    content: "📞 ";
}

li{
    margin-bottom: .5rem;
    /*topico para lista*/
}